{% extends 'base.html' %}

{% block content %}
    <div class="about-container">
        <div class="box-1">
            <h4>About Our Cooperative</h4>
              "We are the 1st Provincial Transport Cooperative in the Province of Romblon under 
               Registration No. 9520-1018000000046928, issued on September 13, 2019 by the 
               Cooperative Development Authority."
        </div>
        <div class="box-2">
            <h4>General Information</h4>
              <table>
                <tr>
                  <td class="gen-info">Type of Cooperative : </td>
                  <td>Transport</td>
                </tr>
                <tr>
                  <td class="gen-info">Area of Operation : </td>
                  <td>Provincial</td>
                </tr>
                <tr>
                  <td class="gen-info">Common Bond of Membership : </td>
                  <td>Occupational</td>
                </tr>
                <tr>
                  <td class="gen-info">Composition of Members : </td>
                  <td>Workers, Employees, Operators and Drivers</td>
                </tr>
                <tr>
                  <td class="gen-info">Number of Founding Members : </td>
                  <td>39</td>
                </tr>
              </table>
        </div>
        <div class="box-3">
          <h4>Line of Business</h4>
          <ul>
            <li>SALE OF MOTOR VEHICLE PARTS AND ACCESSORIES</li>
            <li>JEEPNEY AND AUV OPERATION</li>
          </ul>
      </div>
      <div class="box-4">
        <h4>Address</h4>
        <p>Poblacion, San Agustin Romblon</p>
    </div>
        <div>
          <h4>History</h4>
            <span>ROMBLON TRANSPORT COOPERATIVE (RTC)</span> was formed in compliance with the  
            PUV  modernization   program. The existing  local transport operators  
            and van owners joined  force  to  form  the  cooperative  complying 
            with the standards set by law.
      </div>    
      <div>
            <span>RTC</span> organized the association of Tourist, UV Express, Jeepney  and 
            Rental transport  services in the Province of Romblon to provide 
            quality transport services.
      </div>    
      <div>
            <span>RTC</span> aims to address transport problem and support the development and 
            effort of the government to modernize transport system and ultimately 
            bring about economic development and progress.
      </div>      
     
    </div>
{% endblock %}