{% extends 'base.html' %}

{% block content %}
 
 

  <div id="wrapper">

     <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="inner-heading">
            
            <h2>Frequently Asked Questions</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="content">
    <div class="container">
      <div class="row">

        <div class="span12">
          <h4 class="title"><strong>Commonly Asked</strong> Questions</h4>
          <!-- start: Accordion -->
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              <i class="icon-minus"></i> What are the omnibus franchising guidelines for? </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <li>New guidelines for issuing public-transportation franchises.</li>
                  <li>Public-transport services will be provided in accordance with the LGUs’ public-transport plans.</li>
                  <li>Routes are based on passenger demands and the existing road network.</li>
                  <li>Ensure that approved franchises have safe, comfortable and environmentally sustainable vehicles.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              <i class="icon-plus"></i> Why PUV modernization? </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Department of Transportation (DOTr) aims to make public transport safe and enjoyable, reduce air pollution and to move more people efficiently.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              <i class="icon-plus"></i> How will these programs benefit the public? </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Easier access to public transportation due to expanded network that connects different routes establishments.</li>
                  <li>More reliable, Less travel time Optimized routes.</li>
                  <li>Comfortable, spacious, clean and safe.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              <i class="icon-plus"></i> How will these programs benefit public transport operators? </a>
              </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Increase ridership</li>
                  <li>Reduce traffic congestion</li>
                  <li>Accept more passengers</li>
                  <li>Reduce cost by sharing services (cleaning, repairs, and maintenance.</li>
                  <li>Easier to obtain fuel and spare parts at discounted rates.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
              <i class="icon-plus"></i> How will this be enacted? </a>
              </div>
              <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Require collaboration among all involved parties.</li>
                  <li>Ensure proper and inclusive implementation.</li>
                  <li>Government agencies will work all together to facilitate this initiative, from preparation to transition and to implementation.</li>
                  <li>Appropriate cooperation from industry stakeholders and commuters.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
              <i class="icon-plus"></i> What will happen to old jeepneys and the icon of jeepney? </a>
              </div>
              <div id="collapseSix" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Safety guidelines may significantly change the look of Jeepney to make improvements.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
              <i class="icon-plus"></i> What will happen to existing franchises? </a>
              </div>
              <div id="collapseSeven" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Will continue to operate for the next two to three years upon the issuance of the guidelines.</li>
                  <li>Operators can apply to operate new or modified routes introduced by local governments in their local public transport plans.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
              <i class="icon-plus"></i> Are colorum vehicles excluded? </a>
              </div>
              <div id="collapseEight" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>The moratorium on issuing franchises is lifted upon the released Omnibus Franchising Guidelines.</li>
                  <li>Colorum vehicles will be given the chance to apply for franchises.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
              <i class="icon-plus"></i> How will these programs benefit public transport drivers? </a>
              </div>
              <div id="collapseNine" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Security of monthly salary and benefits</li>
                  <li>Reduced working hours</li>
                  <li>Safer for both driver and passenger</li>
                  <li>Less exposed to air pollution and other health hazards. </li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
              <i class="icon-plus"></i> Is PUV modernization anti poor? </a>
              </div>
              <div id="collapseTen" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>No, Small operators can consolidate to pool resources, meet minimum credit requirements and share the cost of operations and maintenance.</li>
                  <li>Modernization requires high capital costs but it is coordinated with the Department of Finance, Department of trade and industry and other financial institution in designing programs that will access better credit.</li>
                  <li>Improve the quality of public transport</li>
                  <li>Enhance the dignity and professionalism of drivers.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
              <i class="icon-plus"></i> Will jeepneys be phased out? </a>
              </div>
              <div id="collapseEleven" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>Jeepneys will not be phased out, but instead, modernized to provide better services to commuters.</li>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
              <i class="icon-plus"></i> Will modernization kill local manufacturers? </a>
              </div>
              <div id="collapseEleven" class="accordion-body collapse">
                <div class="accordion-inner">
                  <li>It does not, "The DOTr is only providing basic guidelines for the vehicles to ensure that the quality public transportation is provided."</li>
                </div>
              </div>
            </div>
          </div>
          <!--end: Accordion -->

          <div class="blankline30"></div>
          <div class="solidline"></div>
          <div class="blankline20"></div>

        </div>

      </div>
    </div>
  </section>
</div>
    

{% endblock %}