{% extends 'base.html' %}

{% block content %}
     
 
    	<section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
            
              <h2>Our Officers</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="team-categ filter">
              <li class="all"><a href="#">All</a></li>
              <li class="regional active"><a href="#">Regional</a></li>
              <li class="provincial"><a href="#" title="">Provincial</a></li>
              <li class="municipal"><a href="#" title="">Municipal</a></li>
            </ul>

            <div class="clearfix"></div>
            <div class="row">
              	<section id="team">
	                <ul id="thumbs" class="team">

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/1.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Jude G. Wal</h5>
		                        	<p>Board of Director</p>
		                        	<p>Chairman / Founder</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/2.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Junifer V. Lausan</h5>
		                        	<p>Board of Director</p>
		                        	<p>Vice-Chairman</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/3.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Benedicto C. Faroden</strong></h6>
		                        	<p>Board of Director</p>
		                        	<p>Member</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/4.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Joseph W. Guanso Jr</h5>
		                        	<p>Board of Director</p>
		                        	<p>Member</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/5.png" alt="" />
		                      	<div class="caption">
		                      		<h6><strong>Jessie Jame M. Sadey</strong></h6>
		                        	<p>Board of Director</p>
		                        	<p>Member</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/6.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Severine C. Martin</h5>
		                        	<p>Board of Director</p>
		                        	<p>Member</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/7.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Glaydy A. Sayucop</h5>
		                        	<p>Board of Director</p>
		                        	<p>Member</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/8.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Rex A. Bayangan</h5>
		                        	<p>Office of the Chairman</p>
		                        	<p>Secretary General</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/9.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Roger A. Baiwes</h5>
		                        	<p>Office of the Chairman</p>
		                        	<p>Deputy Secretary General</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/10.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Rolando G. Yambot</h5>
		                        	<p>Education</p>
		                        	<p>Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/11.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Jodie Ann T. Kapawen</strong></h6>
		                        	<p>Administration</p>
		                        	<p>Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/12.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Nodel L. Bagtila</h5>
		                        	<p>ICT</p>
		                        	<p>Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/13.png" alt="" />
		                      	<div class="caption">
		                      		<h6><strong>Jessie Jame M. Sadey</strong></h6>
		                        	<p>Route Plans</p>
		                        	<p>OIC Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/14.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Benedicto C. Faroden</strong></h6>
		                        	<p>Transportation Centers</p>
		                        	<p>OIC Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/15.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Joseph W. Guanso Jr</h5>
		                        	<p>Security</p>
		                        	<p>OIC Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/16.png" alt="" />
		                      	<div class="caption">
		                        	<h5>Glaydy A. Sayucop</h5>
		                        	<p>HR & Development</p>
		                        	<p>OIC Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/18.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Roel A. Allaga</strong></h6>
		                        	<p>Safety & Wellness</p>
		                        	<p>OIC Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 regional" data-id="id-0" data-type="regional">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/19.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Raymond V. Mendoza</strong></h6>
		                        	<p>Legal</p>
		                        	<p>Department Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	

	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Nodel L. Bagtila</strong></h6>
		                        	<p>Abra</p>
		                        	<p>Provincial Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Reynald R. Talimbatog</strong></h6>
		                        	<p>Apayao</p>
		                        	<p>Provincial Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Shalimar C. Ramirez</strong></h6>
		                        	<p>Baguio City</p>
		                        	<p>OIC City Manager</p>
		                      	</div>
		                    </div>
	                  	</li>
	                  	
	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Stephen M. Beray</strong></h6>
		                        	<p>Benguet</p>
		                        	<p>Provincial Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Rudy L. Tuguinay</strong></h6>
		                        	<p>Ifugao</p>
		                        	<p>Provincial Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Brandy P. Bitalan</strong></h6>
		                        	<p>Kalinga</p>
		                        	<p>Provincial Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Joey B. Alda Sr.</strong></h6>
		                        	<p>Mountain Province</p>
		                        	<p>Provincial Manager</p>
		                      	</div>
		                    </div>
	                  	</li>

	                  	<li class="item-thumbs span3 provincial" data-id="id-0" data-type="provincial">
		                    <div class="team-box thumbnail">
		                      	<img src="img/dummies/team/0.png" alt="" />
		                      	<div class="caption">
		                        	<h6><strong>Walis Y. Ngayaan</strong></h6>
		                        	<p>Tabuk City</p>
		                        	<p>Provincial Manager</p>
		                      	</div>
		                    </div>
	                  	</li>
	           

	                </ul>
              	</section>

            </div>
          </div>
        </div>
      </div>
    </section>

    
{% endblock %}