{% extends 'base.html' %}

{% block content %}
<div class="officers-container">
	<div class="officers">
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">MARDO RANDY M. MADAMO</h5>
				<p class="card-text">Chairman</p>
				<h4 class="card-text">Board Of Directors</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">JOSE LUIS A. FABIC</h5>
				<p class="card-text">Vice-Chairman</p>
				<h4 class="card-text">Board Of Directors</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ADRIAN C. GAYTANO</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Board Of Directors</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">JURY F. ANTONIO</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Board Of Directors</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">JUSTINO C. ALOJADO JR.</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Board Of Directors</h4>
			</div>
		</div>
	 </div>
     <div class="officers">
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ISAIAS S. LOTA</h5>
				<p class="card-text">Chairman</p>
				<h4 class="card-text">Audit and Inventory</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">SUNDAY L. MONTESA</h5>
				<p class="card-text">Vice-Chairman</p>
				<h4 class="card-text">Audit and Inventory</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ROBERTO ANTONIO M. MAINES</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Audit and Inventory</h4>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ADONIS F. FAMINI</h5>
				<p class="card-text">Chairman</p>
				<h4 class="card-text">Election</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">CRISOSTOMO B. BALLERA SR.</h5>
				<p class="card-text">Vice-Chairman</p>
				<h4 class="card-text">Election</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">SIMPLICIO M. MORTEL III</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Election</h4>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">JOSE LUIS A. FABIC</h5>
				<p class="card-text">Chairman</p>
				<h4 class="card-text">Education and Training</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">JOCEBER M. GANGE</h5>
				<p class="card-text">Vice-Chairman</p>
				<h4 class="card-text">Education and Training</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ARNESTO R. FAJILAGOT JR.</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Education and Training</h4>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ANACRIS M. GALISANAO</h5>
				<p class="card-text">Chairman</p>
				<h4 class="card-text">Mediation/Conciliation</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">NICOLAS A. OMEMAGA</h5>
				<p class="card-text">Vice-Chairman</p>
				<h4 class="card-text">Mediation/Conciliation</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">MARGIE M. MANGAYA</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Mediation/Conciliation</h4>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ARTURO M. MINDORO</h5>
				<p class="card-text">Chairman</p>
				<h4 class="card-text">Ethics</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">DOTHY LYN M. MANGOBA</h5>
				<p class="card-text">Vice-Chairman</p>
				<h4 class="card-text">Ethics</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">JUDY F. FERRAN</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Ethics</h4>
			</div>
		</div>
	 </div>
	 <div class="officers">
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">MICHELLE GRACE L. MAGHANOY</h5>
				<p class="card-text">Chairman</p>
				<h4 class="card-text">Gender and Development (GAD) Committee</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">CHRISTINE S. CASANOVA</h5>
				<p class="card-text">Vice-Chairman</p>
				<h4 class="card-text">Gender and Development (GAD) Committee</h4>
			</div>
		</div>
		<div class="card officers-card" style="width: 14rem;">
			<img class="card-img-top"  src="/static/images/logo.png" alt="...">
			<div class="card-body">
				<h5 class="card-title">ZENAIDA T. MANZANO</h5>
				<p class="card-text">Member</p>
				<h4 class="card-text">Gender and Development (GAD) Committee</h4>
			</div>
		</div>
	 </div>
</div>
    	 
    
{% endblock %}