body {
    margin:0;
    padding:0;
    font-family: 'Bookman Old Style';
}

.base-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.base-header{
    flex-basis: 5%;
    background-color: darkblue;
}

nav{
    height: 100%;
    display:flex;
    box-shadow: 3px 3px 5px black;
    text-shadow: 2px 2px 4px black;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

 nav p {
    margin-top:0;
    height:100%;
    font-size: 100%;
    font-weight: bold;
    text-shadow:3px 2px 2px black;
    color: white;
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, lightblue, blue, skyblue, dodgerblue); 
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

nav a{
    text-decoration: none;
    font-size: 100%;
    color:white;
    transition: all 0.2s;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    text-shadow:2px 1px 1px gray;
}
nav a:hover{
    background-color: #2196f3;
    color:white;
    text-shadow: 3px 3px 5px black;
}

.base-content{
    flex-basis: 90%;
    background-color: white;

    /* background-image: url("/static/images/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

.base-footer{
    flex-basis: 5%;
    background-color: dodgerblue;
    color:white;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 575px){
 
    nav a{
        font-size: 50%;
        text-align: center;
    }

    .base-footer{
        text-align: center;
        font-size: 67%;
    }
    .home-header h2{
        font-size:1.5rem;
    }

    .officers{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    
    .home-header{
        text-align: center;
    }
}
/*---HOME-------------------------------*/
.home-container{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.home-header{
    margin-top: .5rem;
    background-color: #2196f3;
    font-family: 'Bookman Old Style';
    font-weight: bold;
    text-shadow:3px 3px 5px black;
    color: white;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
}

.home-logo{
    width: 100%;
    flex-basis: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---PRODUCTS-------------------------------*/
.products-container{
    /* height: calc(100vh - 100px); */
    height:94%;
    margin-top: .2rem;
    padding:.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;

}
.category-sidebar{
    border: 1px solid  #2196f3;
    width: 40%;
    height: 83%;
    box-shadow: 3px 3px 5px #888888;
    display:flex;
    flex-direction: column;
    padding: 1rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-shadow:3px 3px 5px #888888;
}

.products-card-container{
    border: 1px solid  #2196f3;
    margin-left: .5rem;  
    width: 84%;
    height: 98%;
    box-shadow: 3px 3px 5px #888888;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: scroll;

}

.category-sidebar a{
    text-decoration: none;
    font-size: 1rem;
    color: blue;
}

.left-arrow{
    height: 3rem;
    width: 5rem;
}
.products-list{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.products-card{
    padding: 1rem;
}
.products-card h5,p{
    color: lightslategray;
    font-size: 15px;
}

/* .products-image{
    border:1px solid goldenrod;
    width: 120px;
    height: 120px;
    background-color: white;
    box-shadow: 3px 3px 5px #888888;
} */

/*---ABOUT-------------------------------*/
.about-container{
    padding:0;
    margin:0;
    padding-left: 3rem;
    padding-right: 3rem;
    height:97%;
    overflow-y: scroll;
    display:flex;
    flex-wrap: wrap;

    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-shadow:3px 3px 5px #888888;
}

.about-container div, li{
    color: dodgerblue;
    font-size:80%;
} 
.about-container p{
    color: dodgerblue;
    font-size: 100%;
}
.box-1{
    width: 100%;
}
.box-2, .box-3, .box-4{
    padding: 1rem;
}
.gen-info{
    color:salmon;
    text-align: right;
    font-size: 100%;
}
.about-container span{
    font-weight: bolder;
}
.about-container h4{
    color:darkblue;
}

/*---OFFICERS---*/ 
.officers-container{
    height:94%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-shadow:3px 3px 5px #888888;
    padding: 1rem;
}
.officers-container h3{
    color:darkblue;
}
.officers-container h5{
    color:blue;
}
.officers{
    display:flex;
    flex-direction: row;
    text-align: center;
    padding: .5rem;
}

.officers-card{
    border: 1px solid  #2196f3;
    margin-left: .5rem;  
    box-shadow: 3px 3px 5px #888888;
    padding: .5rem;
   
}
.officers img{
    width: 100px;
    height: 100px;
}
.officers p{
    color:maroon;
}
.officers h4{
    color:darkblue;
}