 {% load static %}
<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

        

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" tpye="text/css" href="{% static 'css/base.css' %}">

        <title>RTC</title>
  </head>
  <body>
      <div class="base-container">
          <div >
            <nav class="base-header">
                <div class="rtc-logo"> 
                   <h1>RTC</h1>
                </div>
                <div class="app-menus">
                  <a class="menu-text" href="/home">Home</a>
                  <a class="menu-text" href="/products">Products</a>
                  <a class="menu-text" href="/newsevents">News & Events</a>
                  <a class="menu-text" href="/services">Services</a>
                  <a class="menu-text" href="/weather">Weather</a>
                  <a class="menu-text" href="/admin">Admin</a>
                </div>
                <div class="rtc-menu">
                  <button onclick="rtc_menus()">&#9776;</button>
                </div>
            </nav>
          </div>
          
          <div class="sidebar" id="rtcmenus">
            <button class="sidebar-close-button" onclick="rtc_menus()">
              x
            </button>
            <a class="menu-text" href="/about">About Us</a>
            <a class="menu-text" href="/contact">Contact Us</a>
            <a class="menu-text" href="/officers">Officers</a>
            <a class="menu-text" href="/faq">FAQ</a>
          </div>
  
          <div class="base-content">
              {% block content %}
              {% endblock %}
          </div>
          <div class="base-footer mono-text">
            © 2018 ROMBLON TRANSPORT COOPERATIVE (RTC) | CDA Reg No. 9520-1018000000046928 | TIN 756-296-750-000 | All Rights Reserved
          </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script type="text/JavaScript">
    
    function rtc_menus(){
      var element = document.getElementById("rtcmenus");
      element.classList.toggle("open");
    }
    </script>
  </body>
</html>